.download-quora-answers-processing {
    background-color: white;
    padding: 10px !important;
    text-align: justify;
}
.download-quora-answers-processing .qtext_image{
    margin: 0 auto;
}
.download-quora-answers-processing .EventHeader,
.download-quora-answers-processing .credibility_facts,
.download-quora-answers-processing .ContentFooter,
.download-quora-answers-processing .ActionBar {
    display: none;
}

.download-quora-answers-processing .header {
    padding-bottom: 0 !important;
}